@model StudentManager2.Models.AttendanceRecord

@{
    ViewBag.Title = "Attendance Record | Details";
}

<h2>Attendance Record</h2>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AttendanceRecordID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div>
    <h4>Details for</h4>
    
    <table class="table table-hover table-responsive">
        <tr>
            <th>@Html.DisplayNameFor(model => model.StudyGroup.GroupTitle)</th>
            <th>@Html.DisplayNameFor(model => model.Course.Title)</th>
            <th>Lesson</th>
            <th>Notes</th>
            <th>Last Updated</th>
            <th class="text-center">Number of Students</th>
            <th class="text-center">Students Attending</th>
            <th class="text-center">Group Attendance</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.StudyGroup.GroupTitle)</td>
            <td>@Html.DisplayFor(model => model.StudyGroup.Course.Title)</td>
            <td>@Html.DisplayFor(model => model.Lesson.Topic)</td>
            <td>@Html.DisplayFor(model => model.Notes)</td>
            <td>@Html.DisplayFor(model => model.Date)</td>
            <td class="text-center">@Html.DisplayFor(model => model.StudyGroup.Students.Count)</td>
            <td class="text-center">@Html.DisplayFor(model => model.Students.Count)</td>
            @if (Model.Students.Count - Model.StudyGroup.Students.Count == 0)
            {
                <td class="text-success text-center">
                    @($"{this.Model.Students.Count} out of {this.Model.StudyGroup.Students.Count} students")
                </td>
            }
            else
            {
                <td class="text-danger text-center">
                    @($"{this.Model.Students.Count} out of {this.Model.StudyGroup.Students.Count} students")
                </td>
            }
        </tr>

    </table>
</div>

<div class="container col-md-6">
    <h4>Presence Table</h4>
    <table class="table table-responsive">
        <tr>
            <th>Student Name</th>
            <th>Nationality</th>
            <th class="text-center">Present</th>
            <th class="text-center">Absent</th>
        </tr>
        @foreach (var s in Model.StudyGroup.Students)
        {
            var absent = 0;
            if (Model.Students.Contains(s))
            {
                <tr>
                    <td>@s.FullName</td>
                    <td>@s.Origin</td>
                    <td class="text-center text-success"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
                    <td></td>
                </tr>
            }
            else
            {
                absent++;
                <tr>
                    <td>@s.FullName</td>
                    <td>@s.Origin</td>
                    <td></td>
                    <td class="text-center text-danger"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></td>
                </tr>
            }
        }
    </table>    
</div>




