@model StudentManager2.Models.StudyGroup

@{
    ViewBag.Title = "Details";
}

<h2>Group Details</h2>

<div>
    <ul class="list-inline">
        <li><h4><strong>Group Title:</strong>@($"  {this.Model.GroupTitle}")</h4></li>
        <li><h4><strong>Course Title:</strong>@($"  {this.Model.Course.Title}")</h4></li>
        <li><h4><strong>Course Level:</strong>@($"  {this.Model.Course.Level}")</h4></li>
    </ul>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.StudyGroupID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    <hr />
    <h3>Students</h3>
    <table class="table">
        <tr>
            <th>Student Name</th>
            <th>Date of Birth</th>
            <th>Matriculation No.</th>
            <th>Nationality</th>
        </tr>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.FullName</td>
                <td>@student.DateOfBirth</td>
                <td>@student.MatricNumber</td>
                <td>@student.Origin</td>
            </tr>

        }
    </table>


</div>
