@model StudentManager2.Models.Course

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

    </dl>
    @foreach(var group in Model.StudyGroups)
    {
        if (group.CourseID == Model.CourseID)
        {
            <div class="text-center label-danger">
                <h3>WARNING!</h3>
                <p>Deleting this Course will delete all Lessons and Study Groups associated with it</p>
                <p><strong>ARE YOU SURE YOU WANT TO PROCEED?</strong></p>
            </div>
        }
    }

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
